doctype html
html
	head
		title= title		
		link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700',rel='stylesheet', type='text/css')
		link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')        	
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet')
		link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/daterangepicker-bs3.css')
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
		script(type='text/javascript', src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
		script(type='text/javascript', src='/javascripts/dateplugin.js')
		script(type='text/javascript', src='/javascripts/moment.js')
		script(type='text/javascript', src='/javascripts/daterangepicker.js')

	body(style="width:100%; margin:auto auto;")
		block content